body {
    background-color: darkslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

h1 {
    color: rgb(234, 158, 236);
    font-size: 60px;
}

h2 {
    color: rgb(234, 158, 236);
}

p {
    color: rgb(0, 255, 64);
    font-size: 20px;
}

ol {
    color: rgb(0, 255, 64);
    font-size: 20px;
}

ul {
    color: rgb(0, 255, 64);
    font-size: 20px;
}

a {
    color: rgb(0, 255, 64);
    font-size: 20px;
}

